* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(237, 232, 232);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.show-sidebar {
  translate: -100%;
}
.sidebar {
  width: 400px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  display: grid;
}
@media (max-width: 676px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
}

.close-btn {
  font-size: 1.75rem;
  border: none;
  background: transparent;
  color: rgb(205, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease;
}
.close-btn:hover {
  transform: rotate(360deg);
}
ul {
  list-style: none;
  text-transform: capitalize;
}
.links a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: rgb(110, 109, 109);
}
.social-icons {
  justify-content: center;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  align-items: center;
}
.social-icons a {
  color: rgb(0, 170, 255);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: lightseagreen;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
